@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.hero-bg-image{
    background: url('https://images.unsplash.com/photo-1597839219216-a773cb2473e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
    background-attachment: fixed;
    height: 600px; 
}  